<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/semantic.min.css" />
    <link rel="stylesheet" href="css/landing.css">
    <title>basic node js</title>
</head>
<body>
    <section class="sec1">
        <header class="ui container">
            <div class="content size1">
                <h1>Selamat Datang!</h1>
                <i><h2>Sudah siap menjadi Mokleters?</h2></i>
                <h3>Inilah landing page untuk pendaftaran peserta didik baru</h3>
                <div class="ui buttons button">
                    <a href="#" class="ui large white button"
                        >Daftar</a
                    >
                    <div class="or"></div>
                    <a href="#" class="ui large black button">List Siswa</a>
                </div>
                <p>pendaftaran dapat dilakukan secara offline maupun online</p>
            </div>
        </header>
    </section>
</body>
</html>